@import "../../style/mixin_font-size";
.firstPageWrapper {
  background-image: url("./image/first_page-background.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: cover;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  justify-content: right;
  .firtsPageBackground {
    height: 650px;
    min-height: 320px;
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    z-index: -1;
    width: 100vw;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.65),
      rgba(255, 255, 255, 0)
    );
    background-size: cover;
    background-position: center;
    object-position: 70% 30%;
  }
  .ContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    margin-right: 150px;
    // transform: rotateX(150deg);
    .ContentWrapper__title {
      text-align: center;
      color: white;
      @include adaptiv-font(20, 14);
    }
    .firstPage__button {
      margin-top: 20px;
      padding: 0;
      border-radius: 30px;
      > a {
        text-decoration: none;
        padding: 12px 30px;
        box-shadow: 0 0 0.1rem rgb(36, 36, 36), 0 0 0.2rem rgb(126, 126, 126),
          0 0 0.3rem rgb(14, 48, 54), 0 0 0.8rem rgb(17, 58, 66),
          0 0 1rem rgb(17, 57, 65), inset 0 0 1.3rem rgb(16, 57, 65);
        transition: all 0.5s;
        border-radius: 30px;
        color: rgb(26, 59, 70);
        transition: 0.3s;
        &:hover {
          box-shadow: 0 0 0.1rem rgb(255, 255, 255),
            0 0 0.2rem rgb(255, 255, 255), 0 0 0.3rem rgb(48, 163, 186),
            0 0 0.8rem rgb(48, 163, 186), 0 0 1rem rgb(48, 163, 186),
            inset 0 0 1.3rem rgb(48, 163, 186);
          animation: neon-3 3s steps(1, start) infinite reverse;
        }
      }
    }
    @media (max-width: 1000px) {
      .firstPage__button {
        margin-top: 20px;
        padding: 0;
        border-radius: 30px;
        > a {
          text-decoration: none;
          padding: 12px 30px;
          box-shadow: 0 0 0.1rem rgb(255, 255, 255),
            0 0 0.2rem rgb(255, 255, 255), 0 0 0.3rem rgb(48, 163, 186),
            0 0 0.8rem rgb(48, 163, 186), 0 0 1rem rgb(48, 163, 186),
            inset 0 0 1.3rem rgb(48, 163, 186);
          transition: all 0.5s;
          border-radius: 30px;
          color: rgb(73, 127, 145);
          transition: 0.3s;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .firstPageWrapper {
    background-position: 0% 50%;
    .ContentWrapper {
      width: 550px;
      margin-right: 20px;
    }
  }
}
@media (max-width: 1000px) {
  .firstPageWrapper {
    background-image: url("./image/1page_mobile_background.svg");
    background-size: cover;
    height: calc(100vh - 100px);
    display: flex;
    align-items: normal;
    justify-content: center;
    .ContentWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 550px;
      margin-right: 0;
      margin-top: 70px;
      padding: 0 20px 0 20px;
      .ContentWrapper__title {
        text-align: center;
        color: white;
        @include adaptiv-font(20, 14);
      }
    }
  }
}

@keyframes neon-3 {
  0% {
    color: #0b3960;
    text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
  }
  80% {
    color: rgb(125, 221, 249);
    text-shadow: 0 0 6px rgb(158, 227, 248), 0 0 10px rgb(158, 227, 248),
      0 0 50px #79a7fc;
  }
  81% {
    color: rgb(125, 221, 249);
    text-shadow: 0 0 6px rgb(158, 227, 248), 0 0 10px rgb(158, 227, 248),
      0 0 50px #79a7fc;
  }
  82% {
    color: #0b3960;
    text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
  }
  83% {
    color: rgb(125, 221, 249);
    text-shadow: 0 0 6px rgb(158, 227, 248), 0 0 10px rgb(158, 227, 248),
      0 0 50px #79a7fc;
  }
  84% {
    color: #0b3960;
    text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
  }
  85% {
    color: rgb(125, 221, 249);
    text-shadow: 0 0 6px rgb(158, 227, 248), 0 0 10px rgb(158, 227, 248),
      0 0 50px #79a7fc;
  }
  100% {
    color: #0b3960;
    text-shadow: 0 0 7px #0b3960, 0 0 8px #0b3960;
  }
}
