.filmCard {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  min-width: 180px;
  min-height: 190px;
  perspective: 600px;
  border-radius: 10px;
  color: #8febe6;
  text-shadow: 0 0 1px #30a3ba, 0 0 2px #30a3ba, 0 0 5px #30a3ba,
    0 0 11px #30a3ba;
  font-size: 30px;
  &:hover {
    animation: shake 0.8s;
    animation-iteration-count: infinite;
  }
}
@media (max-width: 1000px) {
  .filmCard {
    min-width: 140px;
    min-height: 150px;
  }
}
@media (max-width: 800px) {
  .filmCard {
    min-width: 120px;
    min-height: 130px;
  }
}
@media (max-width: 700px) {
  .filmCard {
    min-width: 90px;
    min-height: 100px;
  }
}
@media (max-width: 600px) {
  .filmCard {
    min-width: 70px;
    min-height: 80px;
  }
}
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}
.filmCard__front,
.filmCard__back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.filmCard__front {
  border: 1px solid #003d72;
  border-radius: 10px;
  background: #0b375e67;
  transition: 0.5s;
  &:hover {
    box-shadow: 0 0 1px rgba(202, 228, 225, 0.98),
      0 0 4px rgba(48, 163, 186, 0.42), 0 0 3px rgba(48, 163, 186, 0.58),
      0 0 2px rgba(48, 163, 186, 0.84), 0 0 5px rgba(48, 163, 186, 0.88),
      inset 0 0 1.3rem rgb(48, 163, 186);
    background: #0b375e3a;
  }
}
.filmCard__back {
  color: #28a4b4;
  box-shadow: 0 0 1px rgba(202, 228, 225, 0.98),
    0 0 4px rgba(48, 163, 186, 0.42), 0 0 3px rgba(48, 163, 186, 0.58),
    0 0 2px rgba(48, 163, 186, 0.84), 0 0 5px rgba(48, 163, 186, 0.88),
    inset 0 0 1.3rem rgb(48, 163, 186);
  z-index: 10;
  border-radius: 10px;
  background: #00305ad7;
  transform: rotateY(180deg);
  animation: neon-1 0.09s ease-in-out infinite alternate;
}
.isFlipped {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1.7s;
  transition-delay: 0.5s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  border-radius: 10px;
}
.filmCardOut {
  color: rgba(255, 0, 0, 0);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 180px;
  width: 150px;
  border-radius: 10px;
  opacity: 0;
  animation-name: CardOut;
  animation-duration: 4s;
  transition: 500ms ease-in;
}

@keyframes CardOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    transform: scale(2.3);
  }

  100% {
    transform: scale(0.4);
    opacity: 0;
  }
}
@keyframes neon-1 {
  from {
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.92),
      0 0 3px rgba(48, 163, 186, 0.34), 0 0 4px rgba(48, 163, 186, 0.52),
      0 0 1px rgba(48, 163, 186, 0.92), 0 0 7px rgba(48, 163, 186, 0.78),
      0 0 5px rgba(48, 163, 186, 0.92), inset 0 0 1.3rem rgb(48, 163, 186);
  }
  to {
    box-shadow: 0 0 1px rgba(202, 228, 225, 0.98),
      0 0 4px rgba(48, 163, 186, 0.42), 0 0 3px rgba(48, 163, 186, 0.58),
      0 0 2px rgba(48, 163, 186, 0.84), 0 0 5px rgba(48, 163, 186, 0.88),
      inset 0 0 1.3rem rgb(48, 163, 186);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
