.FilmsChoisePage__background {
  background-image: url("./image/Choise_Films_background.svg");
  background-size: cover;
  height: calc(100vh - 170px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .selectGame {
    z-index: 100;
    margin: 0 0 30px;
  }
  // .selectWrapper {
  //   display: flex;
  //   justify-content: center;
  //   margin: 20px 0;
  //   max-width: 270px;
  //   position: relative;

  //   &:focus {
  //     outline: none;
  //   }
  //   &::before {
  //     content: "";
  //     position: absolute;
  //     z-index: 110;
  //     top: 50%;
  //     right: 10px;
  //     transform: translateY(-50%);
  //     display: block;
  //     pointer-events: none;
  //     width: 0;
  //     height: 0;
  //     border-style: solid;
  //     border-width: 10.4px 6px 0 6px;
  //     border-color: #58028a transparent transparent transparent;
  //   }
  //   .selectGame {
  //     text-align: center;
  //     z-index: 100;
  //     font-size: 15px;
  //     appearance: none;
  //     cursor: pointer;
  //     border: 1.7px solid rgba(255, 255, 255, 0.651);
  //     color: white;
  //     border-radius: 20px;
  //     outline: none;
  //     padding: 12px 35px 12px 15px;
  //     background: rgba(0, 0, 0, 0.4);
  //     option {
  //       text-align: left;
  //     }
  //   }
  // }
  .templateWrapp {
    display: flex;
    flex-direction: column;
    user-select: none;
    width: 100%;
    .filmsWrapp {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
    }
  }
}
