.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 10;
}

.modalContent.active {
  z-index: 10;
  opacity: 1;
  transform: scale(1);
}

.modalContent {
  padding: 25px;
  background: white;
  border-radius: 20px;
  min-width: 250px;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.4s all;
}
