@import "../../../../style/mixin_font-size";
.filmCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px 15px;
  height: 100%;
  width: 100%;
  min-width: 180px;
  min-height: 190px;
  color: #28a4b4;
  @include adaptiv-font(11, 7);
  font-weight: 700;
  border-radius: 20px;
  border: 2px solid #0b3960;
  background: #000e1dd5;
  transition: 100ms ease-in-out;
}
@media (max-width: 1000px) {
  .filmCard {
    padding: 20px 10px;
    min-width: 140px;
    min-height: 150px;
  }
}
@media (max-width: 750px) {
  .filmCard {
    padding: 10px 5px;
    min-width: 85px;
    min-height: 130px;
  }
}
@media (max-width: 500px) {
  .filmCard {
    padding: 8px 3px;
    max-width: 75px;
    min-width: 70px;
    min-height: 75px;
  }
}
.filmCard:nth-child(1n) {
  animation: cardChoice 4s ease-in-out infinite alternate;
  animation-delay: 0s;
}
.filmCard:nth-child(2n) {
  animation: cardChoice 4s ease-in-out infinite alternate;
  animation-delay: 1s;
}
.filmCard:nth-child(3n) {
  animation: cardChoice 4s ease-in-out infinite alternate;
  animation-delay: 2s;
}
.filmCard:nth-child(4n) {
  animation: cardChoice 4s ease-in-out infinite alternate;
  animation-delay: 3s;
}
.filmCard:nth-child(5n) {
  animation: cardChoice 4s ease-in-out infinite alternate;
  animation-delay: 4s;
}
.filmCardOut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px 15px;
  height: 100%;
  width: 100%;
  min-width: 180px;
  min-height: 190px;
  color: #28a4b4;
  @include adaptiv-font(11, 8);
  font-weight: 700;
  background: #000000d8;
  border-radius: 20px;
  box-shadow: 0 0 0.1rem rgb(255, 255, 255), 0 0 0.2rem rgb(255, 255, 255),
    0 0 0.3rem rgb(48, 163, 186), 0 0 0.8rem rgb(48, 163, 186),
    0 0 1rem rgb(48, 163, 186), inset 0 0 1.3rem rgb(48, 163, 186);
  opacity: 0;
  z-index: 10;
  animation-name: CardOut;
  transition: 0.5s ease-in-out;
  animation-duration: 4s;
}
@media (max-width: 1000px) {
  .filmCardOut {
    padding: 20px 10px;
    min-width: 140px;
    min-height: 150px;
  }
}
@media (max-width: 750px) {
  .filmCardOut {
    padding: 10px 5px;
    min-width: 85px;
    min-height: 130px;
  }
}
@media (max-width: 500px) {
  .filmCardOut {
    padding: 8px 3px;
    max-width: 75px;
    min-width: 70px;
    min-height: 75px;
  }
}
@keyframes cardChoice {
  0% {
    background: #000e1dd5;
  }

  50% {
    background: #000e1d;
    transform: scale(1.2);
  }

  100% {
    background: #000e1d60;
    transform: scale(0.9);
  }
}

@keyframes CardOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    opacity: 1;
    transform: scale(1.6);
  }

  75% {
  }

  100% {
    transform: scale(0.2);
    opacity: 0;
  }
}
