.navBar {
  height: 150px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: lightgrey;
  .navBar__title {
    float: right;
  }
}
.navBar__links {
  margin-left: auto;
}
