.wheelWrapper {
  width: 800px;
  height: 800px;

  > div {
    height: 100%;
    width: 100%;
    max-height: unset;
    max-width: unset;
  }
  .addWinner {
    float: right;
    margin: 50px 0 0 0;
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 1px rgba(223, 202, 228, 0.98),
      0 0 4px rgba(181, 48, 186, 0.42), 0 0 3px rgba(158, 48, 186, 0.58),
      0 0 2px rgba(174, 48, 186, 0.84), 0 0 5px rgba(174, 48, 186, 0.88),
      inset 0 0 1.3rem rgb(147, 48, 186);
    background: none;
    border: none;
    padding: 20px 30px;
    border: solid 1px pink;
  }
}
