@import "../../style//mixin_font-size";
.enterActive {
  opacity: 0;
}
.enterDone {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.exitActive {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.userWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 364px;
  .userWrapper__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #8febe6;
    box-shadow: 0 0 1px rgba(202, 228, 225, 0.98),
      0 0 4px rgba(48, 163, 186, 0.42), 0 0 3px rgba(48, 163, 186, 0.58),
      0 0 2px rgba(48, 163, 186, 0.84), 0 0 5px rgba(48, 163, 186, 0.88),
      inset 0 0 1.3rem rgb(48, 163, 186);
    text-shadow: 0 0 1px #30a3ba, 0 0 2px #30a3ba, 0 0 5px #30a3ba,
      0 0 11px #30a3ba;
    border-radius: 20px;
    padding: 10px 30px;
    @include adaptiv-font(17, 15);
    font-weight: 700;
  }
  .userWrapper__remove {
    color: #83abb4;
    padding: 5px 11px;
    text-shadow: 0 0 1px #30a3ba, 0 0 2px #30a3ba, 0 0 5px #30a3ba,
      0 0 11px #30a3ba;
    position: absolute;
    margin: 6px 5px 0 0;
    top: 0;
    right: 0;
    opacity: 0.5;
    transition: 0.3s;
    &:hover {
      opacity: 1;
    }
    .userWrapper__remove__icon {
      color: #bdbdbd;
    }
  }
}
@media (max-width: 450px) {
  .userWrapper {
    width: 280px;
  }
}
@keyframes neon-1 {
  from {
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.92),
      0 0 3px rgba(48, 163, 186, 0.34), 0 0 4px rgba(48, 163, 186, 0.52),
      0 0 1px rgba(48, 163, 186, 0.92), 0 0 7px rgba(48, 163, 186, 0.78),
      0 0 5px rgba(48, 163, 186, 0.92), inset 0 0 1.3rem rgb(48, 163, 186);
  }
  to {
    box-shadow: 0 0 1px rgba(202, 228, 225, 0.98),
      0 0 4px rgba(48, 163, 186, 0.42), 0 0 3px rgba(48, 163, 186, 0.58),
      0 0 2px rgba(48, 163, 186, 0.84), 0 0 5px rgba(48, 163, 186, 0.88),
      inset 0 0 1.3rem rgb(48, 163, 186);
  }
}
