@keyframes neon-1 {
  from {
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.92),
      0 0 5px rgba(48, 163, 186, 0.34), 0 0 6px rgba(48, 163, 186, 0.52),
      0 0 2px rgba(48, 163, 186, 0.92), 0 0 14px rgba(48, 163, 186, 0.78),
      0 0 9px rgba(48, 163, 186, 0.92), inset 0 0 1.3rem rgb(48, 163, 186);
  }
  to {
    box-shadow: 0 0 3px rgba(202, 228, 225, 0.98),
      0 0 7px rgba(48, 163, 186, 0.42), 0 0 5px rgba(48, 163, 186, 0.58),
      0 0 4px rgba(48, 163, 186, 0.84), 0 0 12px rgba(48, 163, 186, 0.88),
      inset 0 0 1.3rem rgb(48, 163, 186);
  }
}
.FilmFormWrapper {
  display: flex;
  flex-direction: column;
  .enterActive {
    opacity: 0;
  }
  .enterDone {
    opacity: 1;
    transition: all 500ms;
  }
  .exitActive {
    opacity: 0;
    transition: all 500ms;
  }
  .exitDone {
    opacity: 0;
    transition: all 500ms;
  }
  .FormWrapper {
    display: flex;
    flex-direction: column;
    .FormWrapper__form {
      display: flex;
      .inputTitle {
        animation: neon-1 0.09s ease-in-out infinite alternate;
        margin: 10px 0;
        background: #022851;
        border-radius: 20px;
        padding: 0px 55px 0px 0;
        display: flex;
        align-items: center;
        border: none;
        height: 50px;
        min-width: 364px;
        color: #7dddf9;
        padding-left: 10px;
        font-size: 19px;
        font-weight: 400;
        &::placeholder {
          color: #7dddf9;
          font-size: 19px;
          font-weight: 400;
          opacity: 0.5;
        }
        &:focus {
          outline: none;
        }
      }
      .success {
        margin: 22px 0 0 -42px;
        width: 27px;
        height: 27px;
        min-height: 0px;
        z-index: 0;
        background-color: #93b4ca;
        opacity: 0.5;
        transition: 0.5s;
        scale: 0.9;
        &:hover {
          scale: 1;
          background-color: #93b4ca;
          opacity: 1;
          box-shadow: 0 0 1px rgba(202, 228, 225, 0.98),
            0 0 4px rgba(48, 163, 186, 0.42), 0 0 3px rgba(48, 163, 186, 0.58),
            0 0 2px rgba(48, 163, 186, 0.84), 0 0 5px rgba(48, 163, 186, 0.88),
            inset 0 0 1.3rem rgb(48, 163, 186);
        }
      }
    }
  }
  .openInput {
    z-index: 0;
    color: rgba(132, 229, 225, 1);
    margin: 20px auto 0;
    background: none;
    box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.2rem #30a3ba,
      0 0 0.4rem #30a3ba, 0 0 1rem #30a3ba, inset 0 0 0.9rem #30a3ba;
    border: solid 1px #fff;
    transition: transform 0.5s;
    &:hover {
      box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.2rem #30a3ba,
        0 0 0.8rem #30a3ba, 0 0 1rem #30a3ba, inset 0 0 1.3rem #30a3ba;
      transform: scale(1.2);
      border: solid 2px #fff;
      background-color: #022851;
      color: rgb(179, 228, 225);
    }
    .openInput_icon {
      font-size: 18px;
    }
  }
}
