.FilmsAddingPage__background {
  height: calc(100vh - 170px);
  background-image: url("./image/Adding_Page_Background.svg");
  background-size: cover;
  .titleContainer {
    padding: 60px 0 20px;
    text-align: center;
    color: white;
  }
  .filmConteinerWrapp__users {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
